form {
  border: 2px solid teal;
  display: inline-block;
  padding: 2rem;
  width: 25%;
}
form .form-control {
  margin-bottom: 1rem;
}
form .form-control label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .25rem;
  font-weight: bold;
}
form .form-control input {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: .25rem;
}
form .form-control .error {
  color: red;
}
form  button {
  color: white;
  font-size: 1rem;
  background-color: blue;
  padding: .5rem 2rem;
  border: none;
  outline: none;
  border-radius: .25rem;
}
